.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
inst/shinyApps/smerte/*.md
inst/*.md
inst/*.log
inst/*.aux
docs/
.Rprofile

# Many kinds of data files
*.rda
*.csv
*.tsv
*.xlsx
*.xls
*.sav
*.dta
*.sas7bdat
*.rds
*.RData
*.sql

*.zip
*.tar
*.gz

